/* Start Global */
:root {
    
}

html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("./assets/Images/mille-sanders-Bc6qPj_f-r0-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* End Global */


